
body {
    background: #333;
}
.container{
    border-radius: 50%;
    height: 200px;
    width: 200px;
    margin: 200px auto;
    position: relative;
    animation: orbite-slide 3s linear infinite;
   
}
.moon {
    position: absolute;
    left: calc(50% - 40px) ;
    top: calc(50% - 40px) ;
    width: 80px;
    height: 80px;
    background: #c7cbd0;
    border-radius: 50%;
    box-shadow: inset -12px 0px 0 0px #9098a1;
    animation: moon-slide 3s linear infinite;
}
li {
    position: absolute;
    list-style: none;
    background: #737277;
    border-radius: 50%;
    box-shadow: inset 3px -1px 0 0px #414043;
  }
  li:nth-child(1) {
    left: 12px;
    top: 25px;
    width: 20px;
    height: 20px;
    
  }
  li:nth-child(2) {
    left: 60px;
    top: 20px;
    width: 12px;
    height: 12px;
  }
  
  li:nth-child(3) {
    left: 40px;
    top: 60px;
    width: 12px;
    height: 12px;
  }
  
  li:nth-child(4) {
    left: 20px;
    top: 70px;
    width: 5px;
    height: 5px;
  }
  
  li:nth-child(5) {
    left: 40px;
    top: 6px;
    width: 5px;
    height: 5px;
  }
  
  li:nth-child(6) {
    left: 50px;
    top: 30px;
    width: 5px;
    height: 5px;
  }
  
  li:nth-child(7) {
    left: 70px;
    top: 40px;
    width: 7px;
    height: 7px;
  }
.rocket{
    background-color : #fafcf7 ;
    height : 50px ;
    width : 25px ;
    border-radius : 50% 50% 0 0 ;
    position : relative ;
    left : -11px ;
    top : 115px ;
}
.rocket:before{
    position: absolute;
    content: "";
    background-color:#39beff;
    height: 20px;
    width: 55px;
    z-index: -1;
    border-radius:50% 50% 0 0 ;
    right: -15px;
    bottom: 0;
}
.rocket:after{
    position: absolute;
    content: "";
    background-color:#39beff;
    height: 4px;
    width: 15px;
    border-radius: 0 0 2px 2px;
    bottom: -4px;
    left: 4.3px;

}
.rocket-window{
    height: 10px;
    width: 10px;
    background-color: #151845;
    border: 2px solid #b8d2ec;
    border-radius: 50%;
    position: relative;
    top: 17px;
    left: 5px;
}


@keyframes orbite-slide{
    to {
        transform:rotate(360deg)
    }
}
@keyframes moon-slide{
    to {
        transform:rotate(-360deg)
    }
}


